<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Udpate with favicon -->
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <link rel="stylesheet" href="/assets/styles/base.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Quattrocento" rel="stylesheet">

    <title>M&K Search Admin</title>
  </head>

  <body>
    <div id="app-root"><!-- React root component target --></div>

    <!-- Bundle script -->
    <script src="/build/client.js"></script>
  </body>
</html>
